/* EDITS FOR HEIMAT-RELOADED */
/* Baseedits */

/* Make all content wider */
#wrap {
    width: 1080px;
}

/* Item Show: edits */
.items.show #secondary {
    display: none
}

@media screen {
    .items.show #wrap #content #primary {
        width: 100%;
    }
}

/* Item Show: Metadaten */
.items.show {
    .element {
        display: grid;
        grid-template-columns: 250px 1fr; /* Fixed width for column 1, flexible for column 2 */
        align-items: center;

        h3 {
            margin: 0;
            text-align: left;
            align-self: start; /* Align text to the top */
        }

        .element-text {
            margin: 0;
            text-align: left;
        }
    }

    .element-set {
        display: grid; /* Define a grid layout for the entire set */
        row-gap: 10px;

        #physical-object-item-type-metadata-haupttext.element { 
            grid-template-columns: auto; /* Haupttext shouldn't be displayed like other metadata */
            margin-bottom: 4%;

            h3 {
                display: none;
            }
        }

        #dublin-core-title { /* We dont need the title again */
            display: none;
        }
    }
}

/* Item Show: Image */
@media screen {
    .items #primary .item-file .download-file img,
    .files #primary .item-file .download-file img {
        max-height: 500px;
    }
}

.items.show {
    .desc.caption-right {
        display: none;
    }

    #itemfiles {
        margin-bottom: auto;
        height: 450px; /* temp */

        .slick-slider {
            margin-bottom: auto;
        }
    }
}
